body{ margin: 0;
    padding:0;}
.mainHeader{
  height: 100px;
  background-color: #793FDF;
}
.sortButton{
  float: right;
  margin-top: 2%;
  margin-right: 2%;
  cursor:pointer;
  background-color: transparent;
  width: 200px;
  height: 50px;
  border-radius: 10px;
}
.sortImage{
  margin-top: 1%;
  width: 70px;
}
.numSlider{
  position: absolute;
  height: 100px;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.numS{
  position: relative;
  top:50%;
  left:50%;
  width: 800px;
  transform: translate(-50%,-50%);
}
.sortingArea{
  position: absolute;
  width: 80%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}